@tailwind base;
@tailwind components;
@tailwind utilities;

div button {
  margin-right: 5px;
  padding-inline: 5px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: bisque;
}

button:hover {
  background-color: #ffa4a4;
}
